.row
  .span3.archive_user_box
    = icon('icon-time')
    %small= l(@archive_messages.first.utc, format: :short)
    %div
      %strong= us_to_human(@collection.us)
      &nbsp;
      - if @location
        %span{class: @location.platform}= @location.platform
        %span{class: @location.browser}= @location.browser
    - if @location
      %div
        = @location.address
    %div
      Чат
      = distance_of_time_in_words(@archive_messages.first.utc, @archive_messages.last.utc)

  .span5.offset1= show_map(@location)

%div
  - @archive_messages.each do |msg|
    .row
      .span5.offset5.archive_row
        - if msg.dir.eql?(1)
          - icon_class = 'icon-globe'; position = 'left'
        - else
          - icon_class = 'icon-user' ; position = 'right'
        %span.tooltip{'data-toggle' => 'popover',
          'data-html' => 'true',
          'data-content' => auto_link_urls(msg.body),
          'data-title' => icon(icon_class) + ' ' + l(msg.utc, format: :short),
          'data-placement' => position }

- content_for :javascript do
  $('.tooltip').popover('show')