.well-small
  .row
    .span2
      = @archive_messages.first.utc.to_formatted_s(:short)
    .span2
      %span.label.label-success= us_to_human(@collection.us)
    .span2
      %span.badge= distance_of_time_in_words(@archive_messages.first.utc, @archive_messages.last.utc)
- @archive_messages.each do |msg|
  .row
    .span8
      - if msg.dir.eql?(1)
        %pre.text-info
          = icon('icon-globe') + ' ' + msg.body
          %small.pull-right= msg.utc.to_formatted_s(:short)
      - else
        %pre.text-success
          = icon('icon-user') + ' ' + msg.body
          %small.pull-right= msg.utc.to_formatted_s(:short)
