- content_for :head_line_title do
  #{t('global.edit')} #{resource_name.to_s.humanize}
- content_for :head_line_content do
  %ul.breadcrumb
    %li= link_to(icon('icon-home' ), root_path) + icon('icon-angle-right')
    %li.active= t('global.edit')

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.input :name
  = f.input :email, :input_html => {:autofocus => true, :placeholder => 'Email'}
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  = f.input :password, :input_html => { autocomplete: "off"}
  %i (leave blank if you don't want to change it)
  = f.input :password_confirmation, :input_html => { autocomplete: "off"}
  = f.input :current_password
  %i (we need your current password to confirm your changes)
  %div= f.submit "Update", class: 'btn btn-warning'

= link_to(t('global.back'), :back)

-#%h3 Cancel my account
-#%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
