%h1 Listing talks
%div= @talks.count
%table
  %tr
    %th Site
    %th User sid
    %th
    %th
    %th


  - @talks.each do |talk|
    %tr
      %td= talk.site_id
      %td= link_to 'Show', site_talk_path(talk.site_id, talk)
      %td= link_to 'Edit', edit_site_talk_path(talk.site_id, talk)
      %td= link_to 'Destroy', site_talk_path(talk.site_id, talk), :method => :delete, :data => { :confirm => 'Are you sure?' }

