= simple_form_for(@user) do |f|
  = f.error_notification
  .form-inputs
    - if @user.new_record?
      = f.input :username, hint: 'example: alexey_orlov_earth', placeholder: current_agent.short_name
    - else
      = f.input :username, disabled: true, hint: t('.cant_change')
    = f.input :operator_name, hint: t('.operator_widget_title')
    = f.input :password, as: :string, hint: t('.enter_password'), input_html: {}

  .row
    .span4.offset1= f.submit t('global.send'), class: 'btn btn-primary'
