= div_for user, class: "alert #{user.enabled ? 'alert-info' : 'alert-error'}" do
  .handle{'title' => 'Drag for ordering', 'data-toggle' => 'tooltip'} &nbsp;
  .row
    .span2= t('.your_j_acc')
    .span2
      %span.label.label-info= user.jabber_account
    .span1
      %span.badge{class: user.online? ? 'badge-success' : 'badge-important'}= user.get_state
  .row
    .span2= User.human_attribute_name('operator_name')
    .span2= user.operator_name
    .span4
      = link_to(t(".state_#{!user.enabled}"), user_path(user, user: {enabled: !user.enabled }), class: "btn btn-mini #{user.enabled ? 'btn-danger' : 'btn-success' }", method: :put)
  .row
    .span2= User.human_attribute_name('username')
    .span2= user.username
  .row
    .span2= User.human_attribute_name('password')
    .span2.password
      %span *******
      %span.hidden= user.password
    .span2.btn-group
      %i.btn.btn-mini.pass Show
      = link_to(t('global.edit'), edit_user_path(user), class: 'btn btn-mini')

- content_for :javascript do
  $('.handle').tooltip()

:css
  .row { line-height: 25px; }