%h1 Listing users

%table
  %tr
    %th Username
    %th Password
    %th Agent
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.password
      %td= user.agent_id
      %td= link_to t('global.show'), user
      %td= link_to t('global.edit'), edit_user_path(user)
      %td= link_to t('global.destroy'), user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
