- unless @archive_collections.blank?
  .row
    .span4.offset3
      = form_tag search_archive_collections_path, method: :get, class: 'form-inline form-search' do
        = text_field_tag :q, params[:q], :placeholder => 'Enter search text'
        - if params[:q]
          = link_to('reset', archive_collections_path, class: 'btn')

  %table.table.table-striped.table-bordered
    %tr.text-info
      %th= t('.client')
      %th= t('.start_at')
      %th= t('.time')
      %th

    - @archive_collections.each do |archive_collection|
      %tr
        %td= us_to_human(archive_collection.us)
        %td= archive_collection.utc.to_formatted_s(:short)
        %td= distance_of_time_in_words(archive_collection.utc, archive_collection.change_utc)
        %td
          .btn-group
            = link_to 'Show', archive_collection_archive_messages_path(archive_collection), class: 'btn btn-mini'
            = link_to 'Destroy', archive_collection, class: 'btn btn-mini', :method => :delete, :data => { :confirm => 'Are you sure?' }

- else
  %h3.text-info= t('.not_found')

= paginate @archive_collections