- if @site_feedbacks.blank?
  %h3.text-info= t('.not_found')
- else
  - @site_feedbacks.each do |feedback|
    = div_for feedback, class: 'alert alert-info' do
      .row.text-info
        .span2= icon('icon-user') + feedback.username
        .span2= icon('icon-envelope') + mail_to(feedback.email)
        .span2= icon('icon-phone') + feedback.phone
        .span2= icon('icon-time') + distance_of_time_in_words(feedback.created_at, Time.now)
      .text-wrap= feedback.message
      %div= link_to 'Destroy', site_site_feedback_path(feedback.site_id, feedback), method: :delete, remote: true,
        class: 'btn btn-mini', data: {dismiss: 'alert'}
= paginate(@site_feedbacks)

- content_for :javascript do
  $('.tooltip').popover('show')