- content_for :title do
  Бесплатный онлайн консультант для сайта Helperchat

- content_for :description do
  Хотите увилечить продажи, конверсию и качество сервиса на вашем сайте, установите бесплатный онлайн  консультант для сайта от Helperchat.

%p
  Вас интересует рост продаж без дополнительных вложений в рекламу? Вы нацелены на продуктивное общение с клиентами?
  В таком случае Вам необходимо установить бесплатный онлайн консультант для сайта «HelperChat».
%p
  Сервис бесплатный онлайн консультант на сайт «HelperChat» - это система консультирования, при помощи который вы можете
  в режиме реального времени вступать в диалог с клиентом и осуществлять полноценную консультацию.
%h1.h3.text-center.b Оnline консультант на сайт бесплатно – для активного увеличения продаж!
%p
  Специально для наших клиентов мы разработали 3 тарифных плана, среди которых каждый из Вас сможет выбрать тот, который
  будет максимально эффективно отвечать потребностям вашего бизнеса:

-#%h2= t('.price')
.row
  .span4
    .pricing-box-alt
      .pricing-heading
        .h3
          = t('prices.simple')
          %strong= t('.choise')
      .pricing-terms
        .h6 0.00 / #{t('.month')}
      .pricing-content
        %ul
          %li
            %i.icon-ok
            1 #{t('.operator')}
          %li
            %i.icon-ok
            5 #{t('.sites_available')}
          %li
            %i.icon-ok
            10 #{t('.online_clients')}
          %li
            %i.icon-ok
            #{t('.active_sales')}
          %li
            %i.icon-ok
            #{t('.chat_history')}
          %li
            %i.icon-ok
            #{t('.avatars')}
          %li
            %i.icon-ok
            #{t('.color_custom')}
          %li
            %i.icon-ok
            #{t('.position_custom')}
          %li
            %i.icon-remove
            24x7 #{t('.support')}
          %li
            %i.icon-remove
            #{t('.offline_messages')}
      .pricing-action
        %a.btn.btn-medium.btn-theme{ :href => signup_path(plan: 'simple')}
          %i.icon-bolt
          = t('.register_now')
  .span4
    .pricing-box-alt.special
      .pricing-heading
        .h3
          = t('prices.good')
          %strong= t('.choise')
      .pricing-terms
        .h6 $5.00 / #{t('.month')}
      .pricing-content
        %ul
          %li
            %i.icon-ok
            2 #{t('.operator')}
          %li
            %i.icon-ok
            10 #{t('.sites_available')}
          %li
            %i.icon-ok
            20 #{t('.online_clients')}
          %li
            %i.icon-ok
            #{t('.active_sales')}
          %li
            %i.icon-ok
            #{t('.chat_history')}
          %li
            %i.icon-ok
            #{t('.avatars')}
          %li
            %i.icon-ok
            #{t('.color_custom')}
          %li
            %i.icon-ok
            #{t('.position_custom')}
          %li
            %i.icon-ok
            24x7 #{t('.support')}
          %li
            %i.icon-ok
            #{t('.offline_messages')}
      .pricing-action
        %a.btn.btn-medium.btn-theme{ :href => signup_path(plan: 'good') }
          %i.icon-bolt
          = t('.register_now')
  .span4
    .pricing-box-alt.best
      .pricing-heading
        .h3
          = t('prices.better')
          %strong= t('.choise')
      .pricing-terms
        .h6 $15.00 / #{t('.month')}
      .pricing-content
        %ul
          %li
            %i.icon-ok
            5 #{t('.operator')}
          %li
            %i.icon-ok
            20 #{t('.sites_available')}
          %li
            %i.icon-ok
            50 #{t('.online_clients')}
          %li
            %i.icon-ok
            #{t('.active_sales')}
          %li
            %i.icon-ok
            #{t('.chat_history')}
          %li
            %i.icon-ok
            #{t('.avatars')}
          %li
            %i.icon-ok
            #{t('.color_custom')}
          %li
            %i.icon-ok
            #{t('.position_custom')}
          %li
            %i.icon-ok
            24x7 #{t('.support')}
          %li
            %i.icon-ok
            #{t('.offline_messages')}
      .pricing-action
        %a.btn.btn-medium.btn-theme{ :href => signup_path(plan: 'better') }
          %i.icon-bolt
          = t('.register_now')

.row
  .span4.offset4.aligncenter
    =link_to(t('.need_more'), contact_path, :class => 'btn btn-large btn-theme btn-rounded')

%p Уже первый день использования каждого из них позволит оценить преимущества использования и наладить активную связь с клиентами. Сегодня подобным сервисом пользуется тысячи компаний, которые настроены на активное развитие собственного бизнеса. Вы – также можете оказаться среди них и составить им достойную конкуренцию.
%h3.text-center.b «HelperChat» - получите только преимущества!

%p
  Установив online консультант для сайта бесплатно, Вы сможете:
  %ul
    %li Предоставлять высокий сервис обслуживания;
    %li Постоянно расширять клиентскую базу;
    %li Поднять уровень продаж;
    %li Увеличивать конверсию.
%p
  При использовании «HelperChat» Вы сможете навсегда забыть о том, что такое «брошенные корзины» и остановить отток
  посетителей с сайта. При этом каждый клиент, который участвует в живом диалоге и получает активную помощь при решении
  его проблемы, в большей вероятности станет вашим постоянным покупателем и будет рекомендовать Вас своим друзьям и знакомым.

.h3.text-center Эффективное средство коммуникации – для ещё больших продаж!

%p
  Чтобы установить онлайн консультант для сайта бесплатный, вам понадобиться только пройти регистрацию, и вы сразу же
  получите лучшего помощника для Вашего бизнеса!

.h3.text-center «HelperChat» - используйте общение для увеличения прибыли!
