- content_for :title do
  Бесплатный онлайн консультант для сайта Helperchat

- content_for :description do
  Хотите увилечить продажи, конверсию и качество сервиса на вашем сайте, установите бесплатный онлайн  консультант для сайта от Helperchat.

%h2= t('.price')
.row
  .span4
    .pricing-box-alt
      .pricing-heading
        .h3
          = t('prices.simple')
          %strong= t('.choise')
      .pricing-terms
        .h6 0.00 / #{t('.month')}
      .pricing-content
        %ul
          %li
            %i.icon-ok
            1 #{t('.operator')}
          %li
            %i.icon-ok
            5 #{t('.sites_available')}
          %li
            %i.icon-ok
            10 #{t('.online_clients')}
          %li
            %i.icon-ok
            #{t('.active_sales')}
          %li
            %i.icon-ok
            #{t('.chat_history')}
          %li
            %i.icon-ok
            #{t('.avatars')}
          %li
            %i.icon-ok
            #{t('.color_custom')}
          %li
            %i.icon-ok
            #{t('.position_custom')}
          %li
            %i.icon-remove
            24x7 #{t('.support')}
          %li
            %i.icon-remove
            #{t('.offline_messages')}
      .pricing-action
        %a.btn.btn-medium.btn-theme{ :href => signup_path(plan: 'simple')}
          %i.icon-bolt
          = t('.register_now')
  .span4
    .pricing-box-alt.special
      .pricing-heading
        .h3
          = t('prices.good')
          %strong= t('.choise')
      .pricing-terms
        .h6 $15.00 / #{t('.month')}
      .pricing-content
        %ul
          %li
            %i.icon-ok
            2 #{t('.operator')}
          %li
            %i.icon-ok
            10 #{t('.sites_available')}
          %li
            %i.icon-ok
            20 #{t('.online_clients')}
          %li
            %i.icon-ok
            #{t('.active_sales')}
          %li
            %i.icon-ok
            #{t('.chat_history')}
          %li
            %i.icon-ok
            #{t('.avatars')}
          %li
            %i.icon-ok
            #{t('.color_custom')}
          %li
            %i.icon-ok
            #{t('.position_custom')}
          %li
            %i.icon-ok
            24x7 #{t('.support')}
          %li
            %i.icon-ok
            #{t('.offline_messages')}
      .pricing-action
        %a.btn.btn-medium.btn-theme{ :href => signup_path(plan: 'good') }
          %i.icon-bolt
          = t('.register_now')
  .span4
    .pricing-box-alt.best
      .pricing-heading
        .h3
          = t('prices.better')
          %strong= t('.choise')
      .pricing-terms
        .h6 $28.00 / #{t('.month')}
      .pricing-content
        %ul
          %li
            %i.icon-ok
            5 #{t('.operator')}
          %li
            %i.icon-ok
            20 #{t('.sites_available')}
          %li
            %i.icon-ok
            50 #{t('.online_clients')}
          %li
            %i.icon-ok
            #{t('.active_sales')}
          %li
            %i.icon-ok
            #{t('.chat_history')}
          %li
            %i.icon-ok
            #{t('.avatars')}
          %li
            %i.icon-ok
            #{t('.color_custom')}
          %li
            %i.icon-ok
            #{t('.position_custom')}
          %li
            %i.icon-ok
            24x7 #{t('.support')}
          %li
            %i.icon-ok
            #{t('.offline_messages')}
      .pricing-action
        %a.btn.btn-medium.btn-theme{ :href => signup_path(plan: 'better') }
          %i.icon-bolt
          = t('.register_now')

.row
  .span4.offset4.aligncenter
    =link_to(t('.need_more'), contact_path, :class => 'btn btn-large btn-theme btn-rounded')