.row
  .span2 Sites
  .span2
    All
    = @sites
  .span3
    Last week
    = @sites_last_week
  .span3
    Past week
    = @sites_past_week

.row
  .span2 Messages
  .span3
    Last week
    = @messages_last_week
  .span3
    Past week
    = @messages_past_week

.row
  .span2 Conversations week
  .span3
    Last
    = @conversations_last_week
  .span3
    Past
    = @conversations_past_week

.row
  .span2 Conversations week
  .span3
    Last
    = @feedbacks_last_week
  .span3
    Past
    = @feedbacks_past_week
