= simple_form_for(@archive_jid_pref) do |f|
  = f.error_notification

  .form-inputs
    = f.input :with_user
    = f.input :with_resource
    = f.input :save
    = f.input :expire
    = f.input :otr

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
