%p#notice= notice

%p
  %b With user:
  = @archive_jid_pref.with_user
%p
  %b With resource:
  = @archive_jid_pref.with_resource
%p
  %b Save:
  = @archive_jid_pref.save
%p
  %b Expire:
  = @archive_jid_pref.expire
%p
  %b Otr:
  = @archive_jid_pref.otr

= link_to 'Edit', edit_archive_jid_pref_path(@archive_jid_pref)
\|
= link_to 'Back', archive_jid_prefs_path
