= simple_form_for(@site) do |f|
  = f.error_notification
  .control-group
    = f.input :name
    = f.input :domain, hint: 'example: google.com'
    .control-group
      = f.label :enabled, site_humanize_column('enabled'), class: 'control-label red'
      .controls
        = f.check_box :enabled
    %hr
    = f.input :user_prefix, hint: 'можете добавить часть домена если у вас несколько сайтов, для идентификации сообщений в списке чатов'
    .control-group
      = f.label :site_category_id, site_humanize_column('site_category_id'), class: 'string optional control-label'
      .controls
        = f.collection_select :site_category_id, @sites_categories, :id, :name
    - unless @site.new_record?
      .control-group
        = f.label :color, site_humanize_column('color'), class: 'string optional control-label'
        .controls
          = f.input_field :color
          %span.color
      .control-group
        = f.label :side, site_humanize_column('side'), class: 'string optional control-label'
        .controls
          = f.select :side, Site::SIDE
      .control-group
        = f.label :position, site_humanize_column('position'), class: 'string optional control-label'
        .controls
          = f.select :position, Site::POSITION
      %hr
      %h5.label.label-success Online
      = f.input :btn_title_online, hint: t('.btn_title_hint')
      = f.input :title_online
      %h5.label.label-important Offline
      = f.input :btn_title_offline, hint: t('.btn_title_hint')
      = f.input :title_offline
      = f.input :offline_welcome_message, as: :text, hint: t('.offline_welcome_message_hint')
      .hidden
        .control-group
          = f.label :collect_stats, site_humanize_column('collect_stats'), class: 'control-label'
          .controls
            = f.check_box :collect_stats
        .control-group
          = f.label :show_online, site_humanize_column('show_online'), class: 'control-label'
          .controls
            = f.check_box :show_online
        .control-group
          = f.label :show_offline, site_humanize_column('show_offline'), class: 'control-label'
          .controls
            = f.check_box :show_offline
      %hr
      .control-group
        = f.label :auto_open, site_humanize_column('auto_open'), class: 'control-label red'
        .controls
          = f.check_box :auto_open
      = f.input :sales_welcome_message, as: :text, hint: t('.sales_welcome_message_hint')
      = f.input :sales_interval_day, hint: t('.sales_interval_day_hint')
      = f.input :auto_open_timeout, hint: t('.auto_open_timeout_hint')

      - unless @site.new_record?
        %hr
        .control-group
          = f.label :widget_code, site_humanize_column('widget_code'), class: 'control-label'
          .controls
            = text_area_tag :widget_code, widget_code(@site), rows: 5
            .help-block= t('.widget_code_hint')
    .row
      .span3= f.submit t('global.send'), class: 'btn btn-primary pull-right'
:css
  .color{ width: 25px; height: 25px; display: inline-block; vertical-align: bottom;}

- content_for :javascript do
  $('.color').css('background', $('#site_color').val());
  $('#site_color').colorpicker().on('changeColor', function(ev){
  $('.color').css('background', ev.color.toHex());
  });
