= simple_form_for(@site) do |f|
  = f.error_notification
  .control-group
    = f.input :name
    = f.input :domain
    .control-group
      = f.label :site_category_id, site_humanize_column('site_category_id'), class: 'string optional control-label'
      .controls
        = f.collection_select :site_category_id, @sites_categories, :id, :name
    - unless @site.new_record?
      .control-group
        = f.label :color, site_humanize_column('color'), class: 'string optional control-label'
        .controls
          = f.select :color, Site::COLORS
          %span.color
      .control-group
        = f.label :side, site_humanize_column('side'), class: 'string optional control-label'
        .controls
          = f.select :side, Site::SIDE
      .control-group
        = f.label :position, site_humanize_column('position'), class: 'string optional control-label'
        .controls
          = f.select :position, Site::POSITION
      = f.input :title_online
      = f.input :title_offline
      .control-group
        = f.label :collect_stats, site_humanize_column('collect_stats'), class: 'control-label'
        .controls
          = f.check_box :collect_stats
      .control-group
        = f.label :show_online, site_humanize_column('show_online'), class: 'control-label'
        .controls
          = f.check_box :show_online
      .control-group
        = f.label :show_offline, site_humanize_column('show_offline'), class: 'control-label'
        .controls
          = f.check_box :show_offline
      .control-group
        = f.label :disabled, site_humanize_column('disabled'), class: 'control-label red'
        .controls
          = f.check_box :disabled
      .control-group
        = f.label :auto_open, site_humanize_column('auto_open'), class: 'control-label red'
        .controls
          = f.check_box :auto_open
      - unless @site.new_record?
        .control-group
          = f.label :widget_code, site_humanize_column('widget_code'), class: 'control-label'
          .controls
            = text_area_tag :widget_code, widget_code(@site), rows: 5
    = f.submit t('global.send'), class: 'btn btn-primary'
:css
  .color{ width: 25px; height: 25px; display: inline-block; vertical-align: bottom;}

- content_for :javascript do
  $('.color').css('background', $('#site_color').val());
  $('#site_color').on('change', function(e){ $('.color').css('background', $(this).val()); });
