.navbar
  .navbar-inner
    %ul.nav
      - current_agent.sites.each do |site|
        %li{class: "#{'active' if request.path.eql?(site_path(site))}"}= link_to(site.domain, site_path(site), title: site.name)
    %ul.nav.pull-right
      %li.pull-right= link_to(icon('icon-plus') + ' ' + t('.add'), new_site_path)

.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li= link_to(icon('icon-home') + t('.general'), '#general', :class => 'active', 'data-toggle' => 'tab')
    %li= link_to(icon('icon-picture') + t('.color_position'), '#color-position', 'data-toggle' => 'tab')
    %li= link_to(icon('icon-th-list') + t('.title'), '#titles', 'data-toggle' => 'tab')
    %li= link_to(icon('icon-signal') + t('.statistic'), '#stats', 'data-toggle' => 'tab')
    %li= link_to(icon('icon-eye-open') + t('.display'), '#display', 'data-toggle' => 'tab')
    %li= link_to(icon('icon-file') + t('.integration_code'), '#jscode', 'data-toggle' => 'tab')

  .tab-content
    #general.tab-pane.active
      .row
        .span2= site_humanize_column('name')
        .span3= @site.name
      .row
        .span2= site_humanize_column('domain')
        .span3= link_to(@site.domain, "http://#{@site.domain}")
      .row
        .span2= site_humanize_column('site_category_id')
        .span2= @site.site_category.name
      .row
        .span2= site_humanize_column('disabled')
        .span2= icon_boolean(@site.disabled)
    #color-position.tab-pane
      .row
        .span2= site_humanize_column('color')
        .span2= @site.color
        .span1.color &nbsp;
        = hidden_field_tag :site_color, @site.color
      .row
        .span2= site_humanize_column('side')
        .span2= @site.side
      .row
        .span2= site_humanize_column('position')
        .span2= @site.position
    #titles.tab-pane
      .row
        .span2= site_humanize_column('title_online')
        .span2= @site.title_online
      .row
        .span2= site_humanize_column('title_offline')
        .span2= @site.title_offline
    #stats.tab-pane
      .row
        .span2= site_humanize_column('collect_stats')
        .span2= icon_boolean(@site.collect_stats)
    #display.tab-pane
      .row
        .span2= site_humanize_column('show_online')
        .span2= icon_boolean(@site.show_online)
      .row
        .span2= site_humanize_column('show_offline')
        .span2= icon_boolean(@site.show_offline)
      .row
        .span2= site_humanize_column('auto_open')
        .span2= icon_boolean(@site.auto_open)
    #jscode.tab-pane
      .row
        .span4= text_area_tag :widget_code, widget_code(@site), rows: 6, cols: 30

= link_to(t('global.edit'), edit_site_path(@site), class: 'btn btn-warning')
:css
  textarea { width: 440px; height: 225px; }