%footer
  .container
    .row
      .span3
        -#.widget
          %h5.widgetheading Important stuff
        %ul.link-list
          %li
            = link_to(t('.about'), about_path)
            \|
            = link_to(t('.service'), price_path)
          %li= link_to(t('.terms'), privacy_path)
          %li= link_to(t('.contact'), contact_path)

      .span3
        %ul.link-list
          -#%li= link_to(t('.career'), career_path)
          -#%li= link_to(t('.releases'), releases_path)


      .span3
      .span3
        %address
          .icon-map-marker.icon-white
          = t('.address')
        %p
          Skype: #{link_to('voloshin_ruslan', 'skype:voloshin_ruslan?chat')}
          %br/
          %i.icon-phone
          +38 (093) 50-70-663
          %br/
          %i.icon-envelope-alt
          = mail_to('support@helperchat.com')

  #sub-footer
    .container
      .row
        .span6
          .copyright
            %p
              %span &copy; #{link_to('Lightcraft LLC', 'http://lightcraft.us/', title: 'Ruby on Rails development company')} 2013 All right reserved.
        .span6
          -#%ul.social-network
            %li
              %a{"data-placement" => "bottom", :href => "#", :title => "Facebook"}
                %i.icon-facebook.icon-square
            %li
              %a{"data-placement" => "bottom", :href => "#", :title => "Twitter"}
                %i.icon-twitter.icon-square
            %li
              %a{"data-placement" => "bottom", :href => "http://www.linkedin.com/company/lightcraft-llc", :title => "Linkedin"}
                %i.icon-linkedin.icon-square
            %li
              %a{"data-placement" => "bottom", :href => "#", :title => "Pinterest"}
                %i.icon-pinterest.icon-square
            %li
              %a{"data-placement" => "bottom", :href => "#", :title => "Google plus"}
                %i.icon-google-plus.icon-square
%a.scrollup{:href => "#"}
  %i.icon-chevron-up.icon-square.icon-32.active
