/ toggle top area
.hidden-top
  .hidden-top-inner.container
    .row
      .span12
        %ul
          %li
            %strong We are available for any custom works this month
          %li Main office: Ukraine Odessa
          %li
            Call us
            %i.icon-phone
            +38 (093) 5070 - 663

/ start header
%header
  .container
    / hidden top area toggle link
    -#header-hidden-link
      %a.toggle-link{"data-target" => ".hidden-top", :href => "#", :title => "Click me you'll get a surprise"}
        %i
        = t('global.open')
    / end toggle link
    .row.nomargin
      .span12
        .headnav
          %ul
            %li
              %a{"data-toggle" => "modal", :href => "#mySignup"}
                %i.icon-user
                = t('devise.titles.sign_up')
            %li
              %a{"data-toggle" => "modal", :href => "#mySignin"}= t('devise.titles.sign_in')
        / Signup Modal
        #mySignup.modal.styled.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "mySignupModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#mySignupModalLabel= t('devise.titles.create_account')
          .modal-body
            = simple_form_for(Agent.new, :as => 'agent', :url => registration_path('agent')) do |f|
              = f.input :email, input_html: { autofocus: true, class: 'form-control', placeholder: 'Enter email' }
              = f.input :password, input_html: { class: 'form-control', placeholder: 'Password' }
              = f.input :password_confirmation, input_html: { class: 'form-control', placeholder: 'Password confirmation' }
              .row
                .span2.offset2= f.submit t('devise.titles.sign_up'), class: 'btn btn-primary'
        / end signup modal
        / Sign in Modal
        #mySignin.modal.styled.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "mySigninModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#mySigninModalLabel= t('devise.titles.login_to_account')
          .modal-body
            = simple_form_for(Agent.new, :as => 'agent', :url => session_path('agent')) do |f|
              = f.input :email, input_html: { autofocus: true, class: 'form-control'}
              = f.input :password
              = f.input :remember_me, as: :radio_buttons, input_html: { value: '1', inline_label: 'Yes, remember me'}
              .row
                .span2.offset2= f.submit t('devise.titles.sign_in'), :class => 'btn btn-primary'
        / end signin modal
        / Reset Modal
        #myReset.modal.styled.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myResetModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#myResetModalLabel= t('devise.titles.reset_password')
          .modal-body
            %form.form-horizontal
              .control-group
                %label.control-label{:for => "inputResetEmail"}= t('activerecord.attributes.agent.email')
                .controls
                  %input#inputResetEmail{:placeholder => "Email", :type => "text"}/
              .control-group
                .controls
                  %button.btn{:type => "submit"}= t('devise.titles.reset_password')
                %p.aligncenter.margintop20= t('devise.passwords.send_instructions')
        / end reset modal
    .row
      .span4
        .logo
          = link_to(image_tag('logo.png'), root_path, title: 'Home')
          %h1= t('.slogan')
      .span8
        .navbar.navbar-static-top
          .navigation
            %nav
              %ul.nav.topnav
                %li.dropdown.active= link_to(t('.home'), root_path, title: 'home')
                %li= link_to(t('.about_us'), about_path, title: 'About us')
                %li= link_to(t('.pricing'), price_path, title: 'price')
                -#%li.dropdown
                  %a{:href => "#"}
                    = t('.language')
                    %i.icon-angle-down
                  %ul.dropdown-menu
                    %li= link_to('RU', "http://#{APP_CONFIG['HOST']}", title: 'Russian')
                    %li= link_to('EN', "http://en.#{APP_CONFIG['HOST']}", title: 'English')
                %li= link_to(t('.contacts'), contact_path, title: 'Contact')
          / end navigation
/ end header